
<section style="background-color:white;">
<body style="background-color: white;">
    
  <div class="card" style="background-color:lightgray;">
    <div class="card-body">
        <form [formGroup]="angForm" novalidate style="background-color: lightgray;">
            <div class="form-group">
                <label class="col-md-4" style="font-size: 50px;">Send Message</label>
                <input type="text" class="form-control"  formControlName="MemberName" placeholder="Name" #MemberName/>
            </div>
            <div *ngIf="angForm.controls['MemberName'].invalid && (angForm.controls['MemberName'].dirty ||
            angForm.controls['MemberName'].touched)" class="alert alert-danger">
                <div *ngIf="angForm.controls['MemberName'].errors.required">
                  Name is required.
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4"> </label>
                <textarea class="form-control" rows="7" placeholder="Your message Here" cols="5" formControlName="MemberBio" #MemberBio ></textarea>
            </div>
            <div *ngIf="angForm.controls['MemberBio'].invalid && (angForm.controls['MemberBio'].dirty ||
            angForm.controls['MemberBio'].touched)" class="alert alert-danger">
                <div *ngIf="angForm.controls['MemberBio'].errors.required">
                    Message is required.
                </div>
            </div>
            
            <div class="form-group">
                <button type="submit" class="btn btn-primary" [disabled]="angForm.pristine || angForm.invalid"
                (click) = "addMember(MemberName.value, MemberBio.value, MemberName.value)">
                    Send</button>
            </div>
        </form>
    </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br>

</body>
</section>
<script>
$('.cinema-seats .seat').on('click', function() {
 $(this).toggleClass('active');
});
 </script>
