<section style="background-image: url('/assets/slider-bg.jpg');">
    <!--???????????????????????????????????????????????????????????????????????????????????-->
   <div class="container"> 
    <div class="row row-cols-4">
            <div class="col">
            
                    <div class="card-container">
                       <div class="card">
                           <div class="front" style="background-image:url('assets/poster1.jpg');" >
                               
                               
                               <div class="content">
                                   <div class="main">
                                       <h3 class="name"></h3>
                                   </div>
                               </div>
                           </div> 
                           <div class="back" style="background-color: #020D18; color: cornsilk;">
                              
                               <div class="content">
                                   <div class="main">
                                       <h4 class="text-center">Theme Description</h4>
                                       <p class="text-center">Calling all nature lovers! Pine needle and branches are your best bet when decorating the present table. Best theme idea for boys and girls equally!</p>
            
                                       
                               <div class="footer">
                                   RATING : 8.1
                            </div>
                            <a class="nav-item nav-link" routerLink="/bookticket">BOOK Theme</a>
                               </div>
                               </div>
    
                           </div> 
                       </div> 
                 
               </div> 
            </div>
            <div class="col">
               
                    <div class="card-container">
                       <div class="card">
                           <div class="front" style="background-image:url('assets/mv-it4.jpg');" >
                               
                               
                               <div class="content">
                                   <div class="main">
                                       <h3 class="name"></h3>
                                   </div>
                               </div>
                           </div> 
                           <div class="back"style="background-color: #020D18; color: cornsilk;">
                              
                               <div class="content">
                                   <div class="main">
                                       <h4 class="text-center">Theme Description</h4>
                                       <p class="text-center">Best theme for kidos who like everything that screams BOY. Trucks, cars, trains,dianosaurs,boats all in one BIRTHDAY PARTY!</p>
            
                                       
                               <div class="footer">
                                   RATING : 8.9
                            </div>
                            <a class="nav-item nav-link" routerLink="/bookticket">BOOK Theme</a>
                               </div>
                               </div>
    
                           </div> 
                       </div> 
                   </div> 
           
            </div>
            <div class="col">
               
                    <div class="card-container">
                       <div class="card">
                           <div class="front" style="background-image:url('assets/mv-it5.jpg');" >
                               
                               
                               <div class="content">
                                   <div class="main">
                                       <h3 class="name"></h3>
                                   </div>
                               </div>
                           </div> 
                           <div class="back" style="background-color: #020D18; color: cornsilk;">
                              
                               <div class="content">
                                   <div class="main">
                                       <h4 class="text-center">Theme Description</h4>
                                       <p class="text-center">If you are planning to have a party outdoor then, what's better than celebrating it in a garden surrounded by flowers,trees and fresh air. This theme will provide a feel of fresh breeze throughout your party.</p>
            
                                       
                               <div class="footer">
                                   RATING : 6.9
                            </div>
                            <a class="nav-item nav-link" routerLink="/bookticket">BOOK Theme</a>
                               </div>
                               </div>
    
                      
                       </div> 
                   </div> 
               </div> 
            </div>
            <div class="col">
         
                    <div class="card-container">
                       <div class="card">
                           <div class="front" style="background-image:url('assets/mv-it6.jpg');" >
                               
                               
                               <div class="content">
                                   <div class="main">
                                       <h3 class="name"></h3>
                                   </div>
                               </div>
                           </div> 
                           <div class="back" style="background-color: #020D18; color: cornsilk;">
                              
                               <div class="content">
                                   <div class="main">
                                       <h4 class="text-center">Theme Description</h4>
                                       <p class="text-center">Party is akl about color and fun. Add some fun to your party with this POP-UP theme which will make your day even more brighter.</p>
            
                                       
                               <div class="footer">
                                   RATING : 5.9
                            </div>
                            <a class="nav-item nav-link" routerLink="/bookticket">BOOK Theme</a>
                               </div>
                               </div>
    
                           </div> 
                       </div> 
                   </div> 
         
               </div>
            
    </div> <!-- end row -->

    ////////////////////////////
    <div class="row row-cols-4">
            <div class="col">
            
                    <div class="card-container">
                       <div class="card">
                           <div class="front" style="background-image:url('assets/mv-it1.jpg');" >
                               
                               
                               <div class="content">
                                   <div class="main">
                                       <h3 class="name"></h3>
                                   </div>
                               </div>
                           </div> 
                           <div class="back" style="background-color: #020D18; color: cornsilk;">
                              
                               <div class="content">
                                   <div class="main">
                                       <h4 class="text-center">Theme Description</h4>
                                       <p class="text-center">If you are looking for a theme for your graduation party then, you don't have to worry about that. Theme studio has it all sorted out for you!</p>
            
                                       
                               <div class="footer">
                                   RATING : 8.1
                            </div>
                            <a class="nav-item nav-link" routerLink="/bookticket">BOOK Theme</a>
                               </div>
                               </div>
    
                           </div> 
                       </div> 
                 
               </div> 
            </div>
            <div class="col">
               
                    <div class="card-container">
                       <div class="card">
                           <div class="front" style="background-image:url('assets/mv-it2.jpg');" >
                               
                               
                               <div class="content">
                                   <div class="main">
                                       <h3 class="name"></h3>
                                   </div>
                               </div>
                           </div> 
                           <div class="back" style="background-color: #020D18; color: cornsilk;">
                              
                               <div class="content">
                                   <div class="main">
                                       <h4 class="text-center">Theme Description</h4>
                                       <p class="text-center">Make your graduation party a memorial by this theme in which we are providing you all the options to make your new memories and also saving the old ones.</p>
            
                                       
                               <div class="footer">
                                   RATING : 7.6
                            </div>
                            <a class="nav-item nav-link" routerLink="/bookticket">BOOK Theme</a>
                               </div>
                               </div>
    
                           </div> 
                       </div> 
                   </div> 
           
            </div>
            <div class="col">
               
                    <div class="card-container">
                       <div class="card">
                           <div class="front" style="background-image:url('assets/mv-it3.jpg');" >
                               
                               
                               <div class="content">
                                   <div class="main">
                                       <h3 class="name"></h3>
                                   </div>
                               </div>
                           </div> 
                           <div class="back" style="background-color: #020D18; color: cornsilk;">
                              
                               <div class="content">
                                   <div class="main">
                                       <h4 class="text-center">Theme Description</h4>
                                       <p class="text-center">All about moon and fairy lights! Enoy your party in sweet light of moon with fairylights to give you all the princess' feels! </p>
            
                                       
                               <div class="footer">
                                   RATING : 7.8
                            </div>
                            <a class="nav-item nav-link" routerLink="/bookticket">BOOK Theme</a>
                               </div>
                               </div>
    
                      
                       </div> 
                   </div> 
               </div> 
            </div>
            <div class="col">
         
                    <div class="card-container">
                       <div class="card">
                           <div class="front" style="background-image:url('assets/mv-it7.jpg');" >
                               
                               
                               <div class="content">
                                   <div class="main">
                                       <h3 class="name"></h3>
                                   </div>
                               </div>
                           </div> 
                           <div class="back" style="background-color: #020D18; color: cornsilk;">
                              
                               <div class="content">
                                   <div class="main">
                                       <h4 class="text-center">Theme Description</h4>
                                       <p class="text-center">[have you ever thought of having marriage party in a forest due to its calmness and natural beauty! We got you cover up as this theme will give you all the wanderer Feel!]</p>
            
                                       
                               <div class="footer">
                                   RATING : 8.3
                            </div>
                            <a class="nav-item nav-link" routerLink="/bookticket">BOOK Theme</a>
                               </div>
                               </div>
    
                           </div> 
                       </div> 
                   </div> 
         
               </div>
            
    </div> <!-- end row -->
/////////
<div class="row row-cols-4">
        <div class="col">
        
                <div class="card-container">
                   <div class="card">
                       <div class="front" style="background-image:url('assets/mv-it8.jpg');" >
                           
                           
                           <div class="content">
                               <div class="main">
                                   <h3 class="name"></h3>
                               </div>
                           </div>
                       </div> 
                       <div class="back" style="background-color: #020D18; color: cornsilk;">
                          
                           <div class="content">
                               <div class="main">
                                   <h4 class="text-center">Theme Description</h4>
                                   <p class="text-center">IN THE BLUES! This theme will give you all the water baby feels with its blues! </p>
        
                                   
                           <div class="footer">
                               RATING : 7.9
                        </div>
                        <a class="nav-item nav-link" routerLink="/bookticket">BOOK Theme</a>
                           </div>
                           </div>

                       </div> 
                   </div> 
             
           </div> 
        </div>
        <div class="col">
           
                <div class="card-container">
                   <div class="card">
                       <div class="front" style="background-image:url('assets/series-img.jpg');" >
                           
                           
                           <div class="content">
                               <div class="main">
                                   <h3 class="name"></h3>
                               </div>
                           </div>
                       </div> 
                       <div class="back" style="background-color: #020D18; color: cornsilk;">
                          
                           <div class="content">
                               <div class="main">
                                   <h4 class="text-center">Theme Description</h4>
                                   <p class="text-center">LANTERNS PARTY! This theme is all about partying in the gloomy light of lanterns.</p>
        
                                   
                           <div class="footer">
                               RATING : 8.0
                        </div>
                        <a class="nav-item nav-link" routerLink="/bookticket">BOOK Theme</a>
                           </div>
                           </div>

                       </div> 
                   </div> 
               </div> 
       
        </div>
        <div class="col">
           
                <div class="card-container">
                   <div class="card">
                       <div class="front" style="background-image:url('assets/mv-it9.jpg');" >
                           
                           
                           <div class="content">
                               <div class="main">
                                   <h3 class="name"></h3>
                               </div>
                           </div>
                       </div> 
                       <div class="back" style="background-color: #020D18; color: cornsilk;">
                          
                           <div class="content">
                               <div class="main">
                                   <h4 class="text-center">Theme Description</h4>
                                   <p class="text-center">What is party without BALLOONS! Here we are with a theme comprising of only balloons!</p>
        
                                   
                           <div class="footer">
                               RATING : 8.2
                        </div>
                        <a class="nav-item nav-link" routerLink="/bookticket">BOOK Theme</a>
                           </div>
                           </div>

                  
                   </div> 
               </div> 
           </div> 
        </div>
        <div class="col">
     
                <div class="card-container">
                   <div class="card">
                       <div class="front" style="background-image:url('assets/mv-item7.jpg');" >
                           
                           
                           <div class="content">
                               <div class="main">
                                   <h3 class="name"></h3>
                               </div>
                           </div>
                       </div> 
                       <div class="back" style="background-color: #020D18; color: cornsilk;">
                          
                           <div class="content">
                               <div class="main">
                                   <h4 class="text-center">Theme Description</h4>
                                   <p class="text-center">ART-Y PARTY! Make an art themed party using colorul paintings and other art crafts.</p>
        
                                   
                           <div class="footer">
                               RATING : 7.2
                        </div>
                        <a class="nav-item nav-link" routerLink="/bookticket">BOOK Theme</a>
                           </div>
                           </div>

                       </div> 
                   </div> 
               </div> 
     
           </div>
        
</div> <!-- end row -->
///////
</div>
        </section>
